<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.icloud.members.jimcorreia.paste-my-password-dammit.safari-extension</string>
       <key>Developer Identifier</key>
       <string>S8CZ658RD9</string>
       <key>CFBundleVersion</key>
       <string>2</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0 (v2)</string>
       <key>URL</key>
       <string>https://github.com/downloads/correia/paste-dammit-extension/Paste-Dammit.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
